<%= simple_form_for @respondent, :html => {} do |f| %>

  <%= f.error_notification %>

  <%= f.input :fullname, label: 'Full name' %>
  <%= f.input :email, label: 'Email address' %>

  <div class="form-actions">
    <%= f.button :submit, 'START', :class => "btn-primary", data: {:loading_text => "Please wait..."} %>
  </div>

<% end %>